# Dépendances Node pour tous les dossiers
**/node_modules/

# Build et production
**/.next/
**/out/
**/dist/
**/build/

# Fichiers d'environnement
**/.env*
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système / OS
.DS_Store
*.swp

# Vagrant
.vagrant/
*.box

# IDE et éditeurs
.vscode/
.idea/

# Autre
*.log
